body{
    font-family: "Poppins", sans-serif;
    background-color: #f1faff;
}
.navbar-brand{
    font-weight: 500;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
 
}

.container .box {
    width: 100%;
    margin-bottom: 10px;
}
.container .box img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.container .box video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

